.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  width: 300px;
  margin: 0 auto;
  margin-top: 150px;
  background: rgb(81, 73, 224);
  background: linear-gradient(
    90deg,
    rgba(81, 73, 224, 1) 0%,
    rgba(81, 73, 224, 1) 0%,
    rgba(39, 217, 220, 0.8193391003862482) 50%
  );
  border: 10px solid rgba(252, 252, 252, 0.543);
  padding: 10px;
}

.btn {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  background: rgb(81, 73, 224);
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(238, 238, 238) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border: 2px solid black;
}

.display {
  grid-column: 1 / span 4;
  background-color: rgb(85, 235, 255);
  padding: 10px;
  text-align: right;
  border: 2px solid black;
}
body {
  background: rgb(81, 73, 224);
  background: linear-gradient(
    90deg,
    rgba(81, 73, 224, 1) 0%,
    rgba(39, 217, 220, 1) 50%,
    rgba(81, 73, 224, 1) 100%
  );
}

.heading {
  text-align: center;
  color: red;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid red;
  border-radius: 10px;
  display: inline;
  margin-left: 365px;
}
